$primary-font: 'Lato', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary-color: #333333;
$secondary-color: #FFFFFF;
$accent-color: #8D4FDB;
$paragraph-color:#A9AFB3;
$third-color:#000;
$pseudo-element-color:rgba(255, 255, 255, 0.3);
$footer-text-color: #8B8B8B;

$footer-bg:#000;
$light-bg: #F1F1F1;
$decor-bg: rgba(0, 0, 0, 0.2);